{% extends "base.html" %}{% load staticfiles %}

{% block content %} <!-- This block content is placed inside of base.html body -->
<div ng-app="CygnusApp" ng-controller="CygnusCtrl">
  
  <!-- Navbar, fixed
  ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-html="true" data-placement="left" data-animation="am-slide-left" data-template="{{ STATIC_URL }}partials/aside.html" bs-aside="aside">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CygnusMgmt</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="isActive('about') ? 'active':'' "><a href="/about">About</a></li>

          <li ng-class="isActive('services') ? 'active':'' " id="navServices">
            <a href="/services">Services</a>
          </li>

          <li ng-class="isActive('services') ? 'activeCaret':'' " class="navServicesCaret" data-html="true" data-animation="am-slide-top" bs-dropdown="dropdown">
            <a><span class="caret"></span></a>
          </li>

          <li ng-class="isActive('pricing') ? 'active':'' "><a href="/pricing">Pricing</a></li>
          <li ng-class="isActive('contact') ? 'active':'' "><a href="/contact">Contact</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="pull-right">(510) 555-5555</li>
          <li class="pull-right"><i class="fa fa-phone"></i></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


  <!-- Our Firm
  ================================================== -->
  <div id="ourFirm" class="jumbotron">
    <div class="container">
      <h1>Our Firm</h1>
      <p>We are a full-service Accounting and Bookkeeping firm serving small to medium sized business throughout the Bay Area. Our company is dedicated to providing our clients with professional, personalized services and guidance in a wide range of accounting needs. We listen to your needs and goals and develop a plan to execute them to ensure financial viability of your business. Whether you are a current or prospective client, rest assured that you will receive our dedication to all the business principles to make you successful.</p>

      <p><a class="btn btn-warning btn-lg pull-right" role="button" href="/services/">Learn more &raquo;</a></p>
    </div>

  </div> <!-- ./jumbotron -->


  <br><br> <!-- remove later -->

  <!-- Founders
  ================================================== -->
  <div class="founders container">
    <h1>Meet the Team</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
    {% verbatim %}
      <div class="col-md-4" ng-repeat="founder in founders">
        <img data-animation="am-flip-x" bs-tooltip="founder.quote" data-html="true" class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>{{ founder.name }}, {{ founder.title }}</h2>
        <p>{{ founder.desc }}</p>
      </div><!-- /.col-md-4 -->
    {% endverbatim %}
    </div><!-- /.row -->
  </div><!-- / .founders -->
  
  <hr class="divider">

  <!-- Team Members
  ================================================== -->
  <div class="team" href="#AccountsPayable">
    <div class="row">
    {% verbatim %}
      <div class="member col-xs-6 col-sm-4 col-md-3" ng-repeat="member in team">
        <img data-animation="am-flip-x" bs-tooltip="member.quote" data-html="true" src="http://placehold.it/140x140" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>{{ member.name }}</h2>
        <p>{{ member.desc }}</p>
      </div><!-- /.col-md-4 -->
    {% endverbatim %}
    </div><!-- /.row -->
  </div><!-- / .team -->
</div>
{% endblock %}