{% extends "base.html" %}{% load staticfiles %}

{% block content %} <!-- This block content is placed inside of base.html body -->
<div ng-app="CygnusApp" ng-controller="CygnusCtrl">
  
  <!-- Navbar, fixed
  ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-html="true" data-placement="left" data-animation="am-slide-left" bs-aside="aside">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CygnusMgmt</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul ng-controller="NavbarCtrl" class="nav navbar-nav">
          <li ng-class="isActive('about') ? 'active':'' "><a href="/about">About</a></li>

          <li ng-class="isActive('services') ? 'active':'' " id="navServices">
            <a href="/services">Services</a>
          </li>

          <li ng-class="isActive('services') ? 'activeCaret':'' " class="navServicesCaret" data-html="true" data-animation="am-slide-top" bs-dropdown="dropdown">
            <span class="caret"></span>
          </li>

          <li ng-class="isActive('pricing') ? 'active':'' "><a href="/pricing">Pricing</a></li>
          <li ng-class="isActive('contact') ? 'active':'' "><a href="/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- Get Started with Cygnus Management
  ================================================== -->
<br><br><br>
  <div class="container">
    <h1>Get Started With Cygnus Management<h1>
    <h1><mute>test</mute></h1>


  {{ path }}

  </div>

</div>
{% endblock %}