{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cygnus Management - Accounting and Bookkeeping Services">
    <meta name="author" content="Mark Anthony Serrano - markanthonyserrano.com">
    <link rel="icon" href="../../favicon.ico">

    <title>Cygnus Management - Accounting and Bookkeeping Services</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/lib/bootstrap.min.css" rel="stylesheet">
    <!-- Angular-Strap CSS library -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lib/angular-motion.min.css">
    <!-- Angular-strap aside css -->
    <link href="{{ STATIC_URL }}css/lib/bootstrap-additions.min.css" rel="stylesheet">

    <!-- Cygnus custom styles -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

    <!-- glyphicons - font awesome CDN -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Django-Angular Script -->
    <script type="text/javascript">
    var NavbarCtrl = function ($scope) {
      $scope.isActive = function(path) {
        if ('{{ path }}' == path) {
          return true;
        } else {
          return false;
        }
      };
    };
    </script>
    <!--
    <div id="indicator">
      <p class="visible-xs">DEBUG: xs - phones</p>
      <p class="visible-sm">DEBUG: sm - small screens</p>
      <p class="visible-md">DEBUG: md - tablets</p>
      <p class="visible-lg">DEBUG: lg - large screens</p>
    </div>
-->
      {% block content %}{% endblock content %}
      <!-- FOOTER -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-6" id="footer-items">
              <ul class="list-inline text-center pull-left">
                <li><span>&copy; 2014 Cygnus Management, LLC</span></li>
                <li><span>Privacy</span>&nbsp&nbsp&nbsp<span>Terms</span></li>
              </ul>
            </div><!-- ./col-xs-6 #footer-items -->
            <div class="col-xs-12 col-sm-5 col-md-6" id="footer-social">
              <ul class="list-inline text-center">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="mailto:cygnusmgmt2@gmail.com?subject=Questions/Comments"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div><!-- ./col-xs-6 #footer-social -->
          </div><!-- ./row -->
        </div><!-- ./container -->
      </footer>
      

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    <script src="{{ STATIC_URL }}js/lib/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/angular-animate.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/angular-sanitize.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/angular-strap.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/angular-strap.tpl.js"></script>
    <script src="{{ STATIC_URL }}js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
 

    <script src="{{ STATIC_URL }}js/app.js"></script>
    {% endblock javascript %}
  </body>
</html>
