/* Positioning */
/* Display & Box Model */
/* Background and typography styles */
/* Transitions */
/* Other */
/* GLOBAL STYLES
-------------------------------------------------- */
html {
  overflow-x: hidden; }

.jumbotron {
  width: 100%;
  padding: 0;
  background-color: white; }

.cygnus-nav {
  width: 100%;
  z-index: 100;
  margin-bottom: 40px;
  /* margin between green line and triple circles */
  border-bottom: 6px solid #2CB34A;
  background-color: white; }
  .cygnus-nav .list-inline {
    text-align: center; }

.inner {
  width: 50%;
  margin: 0 auto; }

/* Center align the text within the three columns below the carousel */
.highlights .col-md-4, .founders .col-md-4 {
  margin-bottom: 20px;
  text-align: center; }
  .highlights .col-md-4 p, .founders .col-md-4 p {
    margin-right: 10px;
    margin-left: 10px; }
.highlights h2, .founders h2 {
  font-weight: normal; }
.highlights h1, .founders h1 {
  text-align: center;
  margin-bottom: 40px; }

.team .row {
  align: center; }

.member {
  margin: 40px 0;
  text-align: center; }

.masthead {
  background-image: url("../img/The_two_bridges_insta.jpg");
  background-size: 100% auto;
  /* width and height, can be %, px or whatever. */
  height: 480px;
  color: white;
  padding: 10% 0; }
  .masthead p, .masthead h1 {
    text-shadow: 2px 2px #000; }
  .masthead p {
    font-size: 20px; }

/* RESPONSIVE STYLES
-------------------------------------------------- */
/* xs, sm */
/* phones; bootstrap - xs */
@media (max-width: 768px) {
  #indicator {
    background: #FDC68A;
    /* orange */ }

  .highlights .col-md-4 p, .founders .col-md-4 p {
    margin: 0 6%; }

  .masthead {
    background-size: auto 100%; }
    .masthead p {
      font-size: 16px; } }
/* phablets; bootstrap - sm */
@media (min-width: 768px) and (max-width: 992px) {
  #indicator {
    background: #C4DF9B;
    /* green */ }

  .highlights .col-md-4 p, .founders .col-md-4 p {
    margin: 0 12%; } }
/* tablets; bootstrap - md */
@media (min-width: 992px) and (max-width: 1200px) {
  #indicator {
    background: #6ECFF6;
    /* cyan */ } }
/* large screens; bootstrap - lg */
@media (min-width: 1200px) {
  #indicator {
    background: #A187BE;
    /* purple */ } }
